asgiref==3.8.1
asttokens==2.4.1
black==24.4.0
click==8.1.7
colorama==0.4.6
decorator==5.1.1
Django==5.0.4
djangorestframework==3.15.1
executing==2.0.1
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.23.0
jedi==0.19.1
matplotlib-inline==0.1.7
mypy-extensions==1.0.0
packaging==24.0
parso==0.8.4
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
Pygments==2.17.2
pytest==8.1.1
pytest-django==4.8.0
pytest-testdox==3.1.0
six==1.16.0
sqlparse==0.5.0
stack-data==0.6.3
traitlets==5.14.3
tzdata==2024.1
wcwidth==0.2.13
